
math/.DS_Store
.DS_Store
algortihm/thuan.sdh222_assignment-dijkstra/cache/a6da22e5c6dd2a700ec472c581838121a2176c5c.json
algortihm/thuan.sdh222_assignment-dijkstra/cache/28f849863a7cc38ada61b1b8aacde9fa7249de49.json
math/assignment/main.out
math/assignment/main.log
math/assignment/main.lof
math/assignment/main.fls
math/assignment/main.fdb_latexmk
math/assignment/main.aux
math/assignment/main.synctex.gz
*.xdv
math/assignment/main.toc
internship1/.vscode/settings.json
internship1/main.synctex.gz
internship1/main.out
internship1/main.log
internship1/main.lof
internship1/main.fls
internship1/main.fdb_latexmk
internship1/main.aux
internship1/main.toc
