
math/.DS_Store
.DS_Store
algortihm/thuan.sdh222_assignment-dijkstra/cache/a6da22e5c6dd2a700ec472c581838121a2176c5c.json
algortihm/thuan.sdh222_assignment-dijkstra/cache/28f849863a7cc38ada61b1b8aacde9fa7249de49.json
math/assignment/main.out
math/assignment/main.log
math/assignment/main.lof
math/assignment/main.fls
math/assignment/main.fdb_latexmk
math/assignment/main.aux
math/assignment/main.synctex.gz
*.xdv
math/assignment/main.toc
